/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar {
    margin-bottom: 50px;
    background-color: #2d2d30;
    border-radius: 0;
    font-size: 15px !important;
    letter-spacing: 1px;
    opacity:1;
	position: fixed;
	width: 100%;
	z-index: 999;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color:  #B2B2B2 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li a.active {
    color: #fff !important;
    background-color:#4D4D4D !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}


/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
	font-size: 15px !important;
    letter-spacing: 1px;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}


    /* Add a gray background color and some padding to the footer */
.container{padding-top: 70px;}
.container2{padding-bottom: 20px;width: 100%;}
    /* Add a gray background color and some padding to the footer */
 footer {
      background-color: #f2f2f2;
      padding-top: 15px;
    }
.panel-body{
	height: 200px;
	overflow: hidden;
}
.portfolio{
	text-decoration: none;
	color: #000;
}
.portfolio:hover{
	color: #000;
}
.container{height: 100% !important;}

.band{
	width: 70% !important;
	border-bottom: 1px solid;
	border-top: 1px solid;
	padding-top: 0px !important;
	margin-top: -1px;}

.band2{
	width: 70% !important;
	padding-top: 0px !important;
	margin-top: -1px;
margin-bottom: 20px;}
.uploadurl{padding: 5px 10 5 10;margin-top: 15px;border-radius: 12px;color: white;background-color: black;border: 0px;}
.uploadurlbutton{padding: 5px 10 5 10;margin-top: 15px;border-radius: 12px;color: white;background-color: black;border: 0px;}
.edit{padding-right: 5px !important;padding: 0px;}
.delete{padding: 0px;}
.infoclick{text-decoration: none;color: black;}

.interninfo{border: 1px solid #646464;border-radius: 15px;margin-bottom: 15px;}
.well{border: 1px solid #646464;border-radius: 15px;background-color: white;padding-top: 0px;padding-bottom: 0px;padding-right: 1px;}
.panel-body{padding-top: 0px !important;}
.choosechoices{background-color: black;color: white;padding-top: 10px;padding-left: 10px;}
.popupfooter{align-items: center;display: flex;justify-content: center;border: 0px;height: 60px;}
.buttonpopup{padding: 5px 10 5 10;margin-top: 0;border-radius: 12px;border: 0px;}
.edit2{display: none;}
.delete2{display: none;}
.changefontw{font-weight: normal!important;}


.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

/*Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap*/

@media (max-width: 600px) {
	.band{width: 100% !important;}
	.band2{width: 100% !important;}
	.alignleft600px{text-align: left;}
	h3{font-size: 20px;}
  }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 


}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

	.alignleft600px{text-align: center;}
	.dropdown li a{color: #B2B2B2 !important;}
	.navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 


}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 


}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}